Exercise 1: Make an empty list and call it names

In [1]:
names=[]
type (names)

list

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [1]:
names=["Hannah","Victor","Sam","James","Sarah"]
# print (type (names))
print (names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [3]:
names.sort(reverse=True)
counter=0
for name in names:
    print (name)
    counter+=1

Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [6]:
names.sort()
i1=0
while (i1<=len(names)-1):
    print (names[i1])
    i1+=1

Hannah
James
Sam
Sarah
Victor

Exercise 5: Pull out the fourth item from names and print it out

In [7]:
fourth=names[3]
print (fourth)

Sarah

Exercise 6: Pull out the first item from names and print it out

In [8]:
first=names[0]
print (first)

Hannah

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [9]:
fruits = "Apples,Oranges,Bananas,Pineapples,Persimmons,Dragonfruit"
print (fruits)
fruits_list = fruits.split(',')
print (fruits_list)

Apples,Oranges,Bananas,Pineapples,Persimmons,Dragonfruit
['Apples', 'Oranges', 'Bananas', 'Pineapples', 'Persimmons', 'Dragonfruit']

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [11]:
square_numbers=[]
for i1 in range(1,11):
    square_numbers.append(i1**2)
print (square_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 9: Create a multiplication table from 1 to 10

In [16]:

# Original version
# factor = int(input("Enter number to multiply: "))
# for i1 in range (1,11):
#    multi_table.append(factor*i1)
#print (multi_table)

# This is the corrected version

for i1 in range (1,11):
    print ("\n")
    for i2 in range (1,11):
        print(i1*i2,end="\t")

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [13]:
another = 'y'
scores = []
i1 = 0
average = 0
total=0

while another.lower() == 'y':
    i1+=1
    score = int(input("Enter test score: "))
    scores.append(score)
    total +=score
#    print(total)
    average = total/i1
    print(f"The average of the scores is: {average}")
    
    another = str(input("Do you want to continue (y/n): "))

print ("\nThe scores that you entered were: \n")
for i2 in range (1,i1+1):
    print (scores[i2-1])
    
print (f"\nThe average score is:  {average}")

Enter test score: 10
The average of the scores is: 10.0
Do you want to continue (y/n): y
Enter test score: 10
The average of the scores is: 10.0
Do you want to continue (y/n): y
Enter test score: 20
The average of the scores is: 13.333333333333334
Do you want to continue (y/n): y
Enter test score: 20
The average of the scores is: 15.0
Do you want to continue (y/n): y
Enter test score: 40
The average of the scores is: 20.0
Do you want to continue (y/n): n

The scores that you entered were:

10
10
20
20
40

The average score is:  20.0

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [4]:
movies = ['Dr. No','From Russia with Love','Goldfinger','Thunderball']
command =''
print ('COMMAND MENU\n\n\tlist - list all movies\n\tadd  - add a movie\n\tdel  - delete a movie\n\texit - exit progam')
while command != 'e':
    command = str(input('\nCommand: '))
    print ("\n")

    if command[0].lower() == 'l':
        i1=1
        for movie in movies:
            print (f"{i1}. {movie}")
            i1+=1
    elif command[0].lower() == 'a':
        add_m = str(input("Name: "))
        movies.append(add_m)
        print (f"{add_m} was added.\n")
    elif  command[0].lower() == 'd':
        number = int(input("Number: "))
        temp_s = movies[number-1]
        movies.pop(number-1)
        print (f"{temp_s} was deleted ...")
    elif command[0].lower() != 'e':
        print ("Enter (l)ist, (a)dd, (d)elete or (e)xit")
                        
print ("Exit program. I hope that you enjoyed your popcorn!")

COMMAND MENU

	list - list all movies
	add  - add a movie
	del  - delete a movie
	exit - exit progam

Command: l


1. Dr. No
2. From Russia with Love
3. Goldfinger
4. Thunderball

Command: a


Name: You Only Live Twice
You Only Live Twice was added.


Command: l


1. Dr. No
2. From Russia with Love
3. Goldfinger
4. Thunderball
5. You Only Live Twice

Command: a


Name: On Her Majesty's Secret Service
On Her Majesty's Secret Service was added.


Command: l


1. Dr. No
2. From Russia with Love
3. Goldfinger
4. Thunderball
5. You Only Live Twice
6. On Her Majesty's Secret Service

Command: d


Number: 5
You Only Live Twice was deleted ...

Command: l


1. Dr. No
2. From Russia with Love
3. Goldfinger
4. Thunderball
5. On Her Majesty's Secret Service

Command: happy


Enter (l)ist, (a)dd, (d)elete or (e)xit

Command: e


Exit program. I hope that you enjoyed your popcorn!